REACT_APP_DISCLAIMER_VERSION=MadMess-V3
REACT_APP_GRAPHQL_ENDPOINT=..../graphql
REACT_APP_GRAPHQL_API_KEY=$##@!
REACT_APP_RESOLUTION=0.2
REACT_APP_HAZARD_MODEL=SLT_v7_gmm_v1

//Only set this to test when running cypress locally, activates mock service worker. If you want API to run leave it unset.
REACT_APP_MSW=test
